@use "@/assets/styles/lib.scss";

.scroll-container {
    @include lib.size(100%);
}

.scrollbar__wrapper {
    position: fixed;
    backdrop-filter: blur(10px) grayscale(100%);
    mix-blend-mode: difference;
    height: 5px;
    width: 50%;
    z-index: 300;
}

.scrollbar {
    height: 100%;
    width: 100%;
    background-color: white;
}
