@use "@/assets/styles/lib.scss";

.scrollbar__wrapper {
    position: absolute;
    backdrop-filter: blur(10px) grayscale(100%);
    mix-blend-mode: difference;
    height: 5px;
    z-index: 1;
}

.scrollbar {
    height: 100%;
    width: 100%;
    background-color: white;
    color: blue;
}

.spacing {
    height: 5px;
}
