/** @format */

// SECTION: Define global SCSS variables here.

// SECTION: Define global SCSS mixins/functions here.

@mixin size($width, $height: $width) {
    width: $width;
    height: $height;
}

/**
 * A basic grid that makes it easier to use divs as wrapping parents
 */
@mixin createGridOverlay() {
    display: grid;
    grid-template-columns: [col0] 100% [col1];
    grid-template-rows: [row0] 100% [row1];
}

@mixin attachToGridOverlay($zIndex) {
    grid-area: row0 / col0 / row1 / col1;
    z-index: $zIndex;
}

/**
 * Centers the content of a "grid" or "flex" type container
 */
@mixin centerContent($containerType) {
    @if $containerType == "grid" {
        align-items: center;
        justify-items: center;
    }
    @if $containerType == "flex" {
        align-content: center;
        justify-content: center;
    }
}

@mixin flexCenterContent() {
    justify-self: center;
    align-self: center;
}

@mixin createFontFace($font-family, $src) {
    @font-face {
        font-family: $font-family;
        src: url($src);
    }
}

@mixin polishDom() {
    * {
        box-sizing: border-box;
        margin: 0;
        padding: 0;
    }
}
