@use "@/assets/styles/lib.scss";

.infobar {
    width: 100%;
    height: 100%;
    border-width: lib.$stroke-width 0px lib.$stroke-width 0px;
    border-style: solid;
    border-color: lib.$primary-dark-color;
}
