/**
 * Adds all Tailwind classes to the globally available classes.
 *
 * It also does the DOM-CleanUp, so adding * {} padding 0 and margin 0
 * is already done through the base layer of Tailwind.
 */
@tailwind base;
@tailwind components;

* {
    scrollbar-width: none;
}

::selection {
    color: var(--color-fg);
    background: var(--color-accent);
}

html {
    overflow: hidden;
}

body {
    /**
      * LINK: https://stackoverflow.com/questions/52848856/100vh-height-when-address-bar-is-shown-chrome-mobile
      */
        width: 100dvw;
        height: 100dvh;
        background-color: var(--color-bg);
        color: var(--color-fg);
        overflow: hidden;

    font-family: 'Fira Code', sans-serif;
}
