@use "@/assets/styles/lib.scss";

.popover-draggable {
    position: absolute;
    z-index: 200;
    display: flex;
    overflow: visible;
    flex-direction: column;

    .popover-draggable__drag-handle {
        @include lib.createGridOverlay();
        height: 10px;
        border-width: var(--stroke) var(--stroke) 0 var(--stroke);
        border-style: solid;
        border-color: var(--primary-color);
        cursor: grab;

        :active {
            cursor: grabbing !important;
        }

        .popover-draggable__drag-handle__background {
            @include lib.attachToGridOverlay(0);
            background-color: var(--primary-color);
            filter: opacity(var(--default-opacity));
            pointer-events: none;
        }

        .popover-draggable__drag-handle__flap {
            @include lib.attachToGridOverlay(1);
        }

        .popover-draggable__drag-handle__flap-object {
            background-color: var(--highlight-color);
            filter: opacity(var(--default-opacity));
        }

        .popover-draggable__drag-handle__drop {
            @include lib.attachToGridOverlay(2);
        }

        .popover-draggable__drag-handle__drop__object {
            background-color: var(--highlight-color);
        }
    }

    .popover-draggable__content {
        @include lib.size(100%);
        overflow: hidden;
        flex: 1;
    }
}
