@use "@/assets/styles/lib.scss";

.popover__wrapper {
    position: relative;
    z-index: 1000;
    overflow: visible;
}

.popover {
    position: absolute;
    z-index: 200;
    overflow: visible;
    display: flex;
    flex-direction: column-reverse;

    .popover__drag-handle {
        @include lib.createGridOverlay();
        height: 10px;
        border-width: var(--stroke) var(--stroke) 0 var(--stroke);
        border-style: solid;
        border-color: var(--primary-color);

        .popover__drag-handle__background {
            @include lib.attachToGridOverlay(0);
            background-color: var(--primary-color);
            filter: opacity(var(--default-opacity));
            pointer-events: none;
        }

        .popover__drag-handle__flap {
            @include lib.attachToGridOverlay(1);
        }

        .popover__drag-handle__flap-object {
            background-color: var(--highlight-color);
            filter: opacity(var(--default-opacity));
        }

        .popover__drag-handle__drop {
            @include lib.attachToGridOverlay(2);
        }

        .popover__drag-handle__drop__object {
            background-color: var(--highlight-color);
        }
    }

    .popover__content {
        @include lib.size(100%);
        overflow: hidden;
    }
}

.popover__connection {
    position: relative;
    z-index: 1001;
    overflow: visible;

    .popover__connection__canvas {
        position: absolute;
        pointer-events: none;

        svg {
            height: fit-content !important;
            width: fit-content !important;
            overflow: visible !important;
        }
    }
}
