@use "@/assets/styles/lib.scss";

$padding: 12px;
@import "@/app/tailwind.css";

.scrollgrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr)); /* Responsive grid */
    gap: 10;
    position: relative; /* Ensure it doesn't get clipped */
}
