@use "../assets/styles/lib.scss";
@use "../assets/styles/fontfaces.scss";

@include lib.polishDom();

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scrollbar-width: none;
}

body {
    /**
     * LINK: https://stackoverflow.com/questions/52848856/100vh-height-when-address-bar-is-shown-chrome-mobile
     */
    @include lib.size(100dvw, 100dvh);
}
