@use "@/assets/styles/lib.scss";

.page {
    width: 100vw;
    height: 100vh;

    .page__infobar {
        width: 100%;
        height: 25px;
    }

    .page__navbar {
        width: 100%;
        height: 60px;
    }

    .page__buttontest {
        width: 100%;
        height: 60px;

        .page__buttontest__1 {
            width: 7%;
            height: 40px;
        }
    }
}
