@use "@/assets/styles/lib.scss";

.page {
    display: inline-block;
    width: 100%;

    .page__infobar {
        width: 100%;
        height: 25px;
    }

    .page__navbar {
        width: 100%;
        height: 60px;
    }
}

.scrollbar {
    top: 0;
}

.test {
    background-color: white;
    border-right: 1px solid black;
    width: 55%;
    height: 2000px;
}

.draggable {
    background-color: blue;
    width: 300px;
    height: 150px;
}
