@use "@/assets/styles/lib.scss";

.page {
    width: 100vw;
    height: 100vh;

    overflow-x: hidden;

    .page__infobar {
        width: 100%;
        height: 25px;
    }

    .page__navbar {
        width: 100%;
        height: 60px;
    }
}
