@use "@/assets/styles/lib.scss";

.button {
    @include lib.createGridOverlay();
    @include lib.unselectable();

    width: 100%;
    height: 100%;
    overflow: hidden;

    position: relative;
    z-index: 0;

    .button__background {
        @include lib.attachToGridOverlay(1);
    }

    .button__foreground {
        @include lib.attachToGridOverlay(2);
        @include lib.createGridOverlay();

        svg,
        img {
            display: inline-block;
            vertical-align: middle;
            margin: 0;
            padding: 0;

            /** get svg to same height as the text element */
            height: 1.2em;
            /** preserve aspect ratio */
            width: auto;
        }

        .button__foreground__notwrapped {
            @include lib.attachToGridOverlay(1);

            display: inline-flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: lib.$stroke-width;

            .button__foreground__text {
                @include lib.toTextContainer();
                font-family: "Consolas";
            }
        }

        .button__foreground__wrapped {
            @include lib.attachToGridOverlay(2);

            display: grid;
            @include lib.center("grid");
        }
    }
}
