@use "@/assets/styles/lib.scss";

$padding: 12px;
@import "../../app/tailwind.css";
.signin {
    @include lib.size(100%);

    display: grid;
    grid-template-rows: [row0] calc(30px + $padding) [row1] 1fr [row2];
    grid-template-columns: [col0] 1fr [col1];

    border: lib.$stroke-width solid lib.$primary-dark-color;

    .signin__header {
        grid-area: row0 / col0 / row1 / col1;
        border-bottom: lib.$stroke-width solid lib.$primary-dark-color;

        display: flex;

        .signin__header__logo {
            display: flex;
            overflow: hidden;
            width: calc(30px + $padding);
        }

        .signin__header__divider {
            width: lib.$stroke-width;
            background-color: lib.$primary-dark-color;
            height: 100%;
        }

        .signin__header__text {
            @include lib.toTextContainer();

            flex: 1;

            display: flex;
            justify-content: left;
            align-items: center;
            padding: $padding;

            font-family: "Fira Code";
            text-transform: uppercase;
            font-size: 1.2em;
        }
    }

    .signin__body {
        grid-area: row1 / col0 / row2 / col1;
        font-family: "Fira Code";
        display: flex;
        align-items: center;
        height: 100%;
        justify-content: center;

        .signin__body__form {
            grid-area: row0 / col0 / row1 / col1;

            display: grid;
            gap: 15px;

            grid-template-rows: [row0] 1fr [row1] 1fr [row2];
            grid-template-columns: [col0] 1fr [col1];

            .signin__body__form__input {
                grid-area: row0 / col0 / row1 / col1;
                display: flex;
                justify-content: center;
                align-items: center;

                .signin__body__form__input__icon {
                    width: calc(30px + $padding);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }
            }
            .input[type="text"] {
                width: 100%;
                padding: 12px 20px;
                margin: 8px 0;
                box-sizing: border-box;
            }
        }
    }
}

.signin__body__form__input__field {
    font-family: "Fira Code" !important;

    border-width: 1px;
    border-radius: 0;
    padding: 1em;

    font-size: 1.2em;
    &:focus {
        outline: 2px solid;
        border-radius: 0px;
        transition: 0.1s;
    }
}

.signin__body__form__button {
    border-radius: 1px;
    padding: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    font-family: "Fira Code";
    font-size: 1.2em;
    
}

.test {
    width: 150px;
    height: 50px;
    flex: 1;
    overflow: hidden;
}