/** @format */

@use "../../assets/styles/lib.scss";

/**
 * The navbar styles for a wide screen.
 */
@media only screen and (min-width: 600px) {
    .navbar {
        @include lib.size(100%);

        display: grid;
        grid-template-columns: [col0] 2fr [col1] 2fr [col2] 1fr;
        grid-template-rows: [row0] 100%;
    }

    .navbar__account {
        @include lib.createGridOverlay();

        padding: 10px;
        grid-area: row0 / col2;
        align-items: center;
        justify-items: right;
    }

    .navbar__account__icon {
        aspect-ratio: 1/1;
        border-radius: 100%;
        height: 100%;
        overflow: hidden;
    }

    .navbar__account__icon__image {
        @include lib.size(100%);
    }

    .navbar__account__options {
        @include lib.size(100%);
        @include lib.centerContent("grid");

        display: grid;
        grid-template-rows: [col0] 1fr;
        grid-template-columns: [row0] 1fr [row1] 1fr;
        column-gap: 10px;
    }

    .navbar__account__options__login {
        @include lib.size(100%, 50%);
        @include lib.centerContent("grid");

        display: grid;
        background-color: red;
    }

    .navbar__account__options__signup {
        @include lib.size(100%, 50%);
        @include lib.centerContent("grid");

        display: grid;
        background-color: yellow;
    }
}
