@use "@/assets/styles/lib.scss";

.input__wrapper {
    @include lib.createGridOverlay();

    border: var(--stroke) solid var(--primary-color);

    .input__wrapper__background {
        @include lib.attachToGridOverlay(0);

        overflow: hidden;

        .input__wrapper__background__flap {
            background-color: black;
        }
    }

    .input__wrapper__foreground {
        @include lib.attachToGridOverlay(1);

        .input {
            @include lib.size(100%);
            font-family: "Fire Code";
            outline: none;
            background-color: transparent;
        }
    }

    .input__wrapper__error {
        @include lib.attachToGridOverlay(2);
        pointer-events: none;
        height: 10px;
        background-color: rgba(var(--error-color-rgb), 0.5);
        border-bottom: var(--stroke) solid var(--error-color);
    }
}
