@use "@/assets/styles/lib.scss";

.input__wrapper {
    @include lib.createGridOverlay();

    border: var(--stroke) solid var(--primary-color);

    .input__wrapper__background {
        @include lib.attachToGridOverlay(0);

        overflow: hidden;

        .input__wrapper__background__flap {
            background-color: var(--highlight-color);
            filter: opacity(20%);
        }
    }

    .input__wrapper__foreground {
        @include lib.attachToGridOverlay(1);

        .input {
            @include lib.size(100%);
            font-family: "Fire Code";
            outline: none;
            background-color: transparent;
        }
    }

    .input__wrapper__error {
        @include lib.attachToGridOverlay(2);
        pointer-events: none;
        height: 15px;
        background-color: rgba(var(--error-color-rgb), 0.5);
        border-bottom: var(--stroke) solid var(--error-color);

        display: flex;
        align-items: center;
        padding: var(--stroke);

        font-family: "Fira Sans";
        font-size: 1.2cqh;

        span {
            flex: 1;
        }

        img {
            height: 1.4cqh;
            width: auto;
        }
    }
}
