@use "@/assets/styles/lib.scss";

.flap {
    @include lib.createGridOverlay();
    @include lib.size(100%);

    overflow: hidden;

    .flap__object {
        @include lib.attachToGridOverlay(0);

        border-radius: 100%;
        aspect-ratio: 1/1;

        transition: height 1s cubic-bezier(0.2, 0.72, 0.38, 1.02);
    }
}
