@use "@/assets/styles/lib.scss";

.button {
    @include lib.createGridOverlay();
    @include lib.unselectable();

    width: 100%;
    height: 100%;
    overflow: hidden;

    .button__background {
        @include lib.attachToGridOverlay(1);
    }

    .button__foreground {
        @include lib.attachToGridOverlay(2);

        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        gap: lib.$stroke-width;

        svg {
            height: 70%;
        }

        .button__foreground__text {
            font-family: "Space Mono";
        }
    }
}
